:root {
    --main-white: #ffffff;
    --main-black: #000000;
    --main-purple: #4758DC;
    --main-gray: #4F4F4F;
    --main-zumtho: #E1EBFF;
    --Background-1:#FBFFFF;
    --Background-2:#F6FCFF;
  }