/*Reset All*/
* {
    margin: 0;
    padding: 0;
  }

  *, *::before, *::after {
    box-sizing: inherit;
}
  
  html{
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body{
    font-family: "Open Sans", Sans-serif;
    width:100%;
    top:0;
    left:0;
    background:var(--main-white, #FFFFFF);
    overflow-x: hidden;
    
  }

  .container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position:relative;
    top:96px;
    left:0;
  }

  .projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    
    width: 100%;
    
    background: var(--Background-1, #FBFFFF);
    }
    
    .projects-grids{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      padding:0 60px;
    }
  
    
    .project-tile-available, .project-tile-unavailable{
    height: 100%;
    width: 100%;
    object-fit: cover;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 10px;
    background: var(--main-white, #FFF);
    /* Website/Project Card-Default */
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.10);

    /* Remove text-decoration for <a> element */
    text-decoration: none;
  
    }
    
    .project-tile-available:hover{    
        cursor: hand;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
    }

    /* front-end development */
    
    .project-tile-unavailable:hover{
        cursor: pointer;
        box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.10);   
    }

    .project-intro{
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }

    .project-intro-title{
        align-self: stretch;
        color: var(--main-black, #000);
        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .project-intro-chips{
        display: flex;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }

    .chip{
        display: flex;
        padding: 4px 10px;
        justify-content: center;
        align-items: center;

        border-radius: 4px;
        background: var(--main-zumtho, #E1EBFF);

        /* Text */
        color: var(--main-purple, #4758DC);
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
    }

    .project-intro-description{
        height: 42px;
        align-self: stretch;

        color: var(--main-gray, #757575);
        font-family: "Open Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
    }

    @media (max-width: 55rem){

      .projects-grids {
          grid-template-columns: 1fr;
          grid-gap: 2rem;
          padding:0 20px;
      }
  }


    @media (max-width: 50rem){

        .project-intro-title{
          font-size: 14px;
        }

        .project-intro-description{
          font-size: 11px;
        }

        .project-intro-chips{
            gap:8px;
        }

        .chip{
            padding: 2px 8px;
            font-size: 12px;
        }

    }